* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
.container {
  background-color: rgba(0, 255, 255, 0.589);
  margin-top: 200px;
}

@media screen and (min-width: 770px) {
  .myQuest {
    width: 50%;
  }
  .home {
    width: 50%;
  }
}
